<a href="/home-details/<%= id %>">
    <button href="" class=" button mt-4" style="--clr: #f1643f;">
        <span class="button-decor"></span>
        <div class="button-content">
            <div class="button__icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 10.5L12 3l9 7.5M5 10v9a1 1 0 001 1h4v-4h4v4h4a1 1 0 001-1v-9M9 14l2 2 4-4" />
                </svg>
            </div>
            <span class="button__text">Details</span>
        </div>
    </button>
</a>